@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  transition: all 0.2s ease-in-out;
}
/* 
:root {
  --color-base: #1a2225;     
  --color-text: #b3dace;     
  --color-muted: #b3dace;    
  --color-accent: #d94d2c;   
}
 */
